<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDS/IPS System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="{{ url_for('start') }}">Start</a></li>
            <li><a href="{{ url_for('logs') }}">Logs</a></li>
            <li><a href="{{ url_for('blocked_ips') }}">Blocked IPs</a></li>
            <li><a href="{{ url_for('rules') }}">Rules</a></li>
            <li><a href="{{ url_for('alerts') }}">Alerts</a></li>

        </ul>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
