
{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Start IDS/IPS System</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Start IDS/IPS System</h1>
    <button id="start-btn">Start Script</button>
    <h2>Alerts</h2>
    <div id="logs"></div>

    <script>
        $(document).ready(function(){
            var socket = io();

            $('#start-btn').click(function(){
                $.post('/start_script', function(response){
                    if(response.status === 'started'){
                        alert('Script started successfully');
                        $("start").val("True");
                    } else if (response.status === 'already running') {
                        alert('Script is already running');
                    } else if (response.status === 'error') {
                        alert('Error: ' + response.message);
                    }
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    alert('Failed to start script: ' + textStatus + ' - ' + errorThrown);
                });
            });

            socket.on('log_message', function(data){
                $('#logs').append('<p>' + data.message + '</p>');
            });
        });
    </script>
</body>
</html> 
 
{% endblock %}


<!-- <!DOCTYPE html>
<html>
<head>
    <title>Start IDS/IPS System</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Start IDS/IPS System</h1>
    <button id="start-btn">Start Script</button>
    <h2>Alerts</h2>
    <div id="logs"></div>

    <script>
        $(document).ready(function(){
            var socket = io();

            $('#start-btn').click(function(){
                $.post('/start_script', function(response){
                    if(response.status === 'started'){
                        alert('Script started successfully');
                    } else if (response.status === 'already running') {
                        alert('Script is already running');
                    } else if (response.status === 'error') {
                        alert('Error: ' + response.message);
                    }
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    alert('Failed to start script: ' + textStatus + ' - ' + errorThrown);
                });
            });

            socket.on('log_message', function(data){
                $('#logs').append('<p>' + data.message + '</p>');
            });

            socket.on('connect', function() {
                console.log('Connected to server');
            });

            socket.on('disconnect', function() {
                console.log('Disconnected from server');
            });

            socket.on('connect_error', function(error) {
                console.error('Connection error:', error);
            });
        });
    </script>
</body>
</html> -->
